Options -Indexes
<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^([0-9a-zA-Z-_/]+)$ index.php [QSA]